<%- include('../partials/header') %>

    <div class="details">
        <h1>All Books</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(b) { %>
                <tr>
                    <td>
                        <%= b.title %>
                    </td>
                    <td>
                        <%= b.author %>
                    </td>
                    <td><a href="/books/<%= b._id %>">DETAILS</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>


    <%- include('../partials/footer') %>