<%- include('../partials/header') %>

    <section id="show-page">
        <div id="card-show" class="card w-50">
            <div class="card-body">
                <p class="card-text">
            </div>
            <div class="book-details"></div>
            <div><strong>Title:</strong> </div>
            <div>
                <%= book.title %>
            </div>
            <div><strong>Author:</strong> </div>
            <div>
                <%= book.author %>
            </div>
            <div><strong>Year Published:</strong> </div>
            <div>
                <%= book.yearPublished %>
            </div>
            <div><strong>Category:</strong> </div>
            <div>
                <%= book.category %>
            </div>
            <div><strong>Is Book A Movie Too?:</strong> </div>
            <div>
                <%= book.isMovieToo ? 'Yes' : 'No' %>
            </div>
            </p>
        </div>
        </div>
        <br><br>

        <br><br>
        <div id="comment-form"></div>
        <h4>Comments</h4>
        <form id="add-comment-form" method="POST" action="/books/<%= book._id %>/comments">
            <label>Add Comment:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
            <input type="submit" value="Add Comment">
        </form>
        </div>
        </div>

        <% if (book.comments.length) { %>
            <div id="comment-details" class="card" style="width: 35rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Comment Details</h5>
                    <p class="card-text">
                        <% let total = 0 %>
                            <% book.comments.forEach(function(comment) { %>
                                <% total += comment.rating %>
                                    Date:
                                    <%= comment.createdAt.toLocaleDateString() %>
                                        </li>
                                        <br> Comments:
                                        <%= comment.content %>
                                            </li>
                                            Rating:
                                            <%= comment.rating %>
                                                </li>
                                                <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
                                                    <input name="content" value="<%= comment.content %>">
                                                    <button type="submit">UPDATE COMMENT</button>
                                                </form>
                                                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                    <button type="sumbit">X</button>
                                                </form>
                                                <% }); %>
                                                    <li><strong><%= (total / book.comments.length).toFixed(1) %></strong></li>

                                                    </ul>
                                                    <% } else { %>
                                                        <h5>No Comments Yet</h5>
                                                        <% } %>


                    </p>

                </div>
            </div>

            <%- include('../partials/footer') %>