<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= book.title %>
        </div>
        <div>Author: </div>
        <div>
            <%= book.author %>
        </div>
        <div>Year Published: </div>
        <div>
            <%= book.yearPublished %>
        </div>
        <div>Category: </div>
        <div>
            <%= book.category %>
        </div>
        <div>Is Book A Movie Too?: </div>
        <div>
            <%= book.isMovieToo ? 'Yes' : 'No' %>
        </div>
        <br><br>
    </section>
    <br><br>
    <h2>Comments</h2>
    <form id="add-comment-form" method="POST" action="/books/<%= book._id %>/comments">
        <label>Add Comment:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
        <input type="submit" value="Add Comment">

        <% if (book.comments.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Comments</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total = 0 %>
                        <% book.comments.forEach(function(c) { %>
                            <% total += c.rating %>
                                <tr>
                                    <td>
                                        <%= c.createdAt.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <%= c.content %>
                                    </td>
                                    <td>
                                        <%= c.rating %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td><strong><%= (total / book.comments.length).toFixed(1) %></strong></td>
                                    </tr>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Comments Yet</h5>
                <% } %>


                    <%- include('../partials/footer') %>