<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= book.title %>
        </div>
        <div>Author: </div>
        <div>
            <%= book.author %>
        </div>
        <div>Year Published: </div>
        <div>
            <%= book.yearPublished %>
        </div>
        <div>Category: </div>
        <div>
            <%= book.category %>
        </div>
        <div>Is Book A Movie Too?: </div>
        <div>
            <%= book.isMovieToo ? 'Yes' : 'No' %>
        </div>
        <br><br>
    </section>




    <%- include('../partials/footer') %>