<%- include('../partials/header') %>

    <h2>Users Books</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(u) { %>
                <tr>
                    <td>
                        <%= u.title %>
                    </td>
                    <td>
                        <%= u.author %>
                    </td>
                    <td><a href="/users/<%= u._id %>">DETAILS</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>


    <%- include('../partials/footer') %>